.all-posts {
    border: 2px solid var(--text-color);
    border-top: 0px;
    padding: 60px;
    margin: auto;
    max-width: 800px;
}

.post-name {
    padding: 2px 15px;
    background-color: var(--bg-color);
}